{% extends "layout.html" %}

{% block title %}
    FAQs
{% endblock %}

{% block main %}
<div class="header">
    <h1>FAQs</h1>
</div>
<div class="container">
    <div class="section">
        <h5>How does Cicero know so much?</h5>
        Cicero uses elaborate prompts to harness OpenAI ChatGPT's immense capabilities and output to you amazing travel plans.
    </div>
    <div class="section">
         <h5>How come Cicero is free to use?</h5>
         Cicero is my final project for Harvard's CS50 course. As such, this is an experimental version and is free to use.
    </div>
    <div class="section">
        <h5>How can I get in touch regarding this project?</h5>
        I'd love to hear any feedback! You can find me at <a href="https:\\riccardoscloud.com" target="_blank">riccardoscloud.com</a>.
   </div>    
</div>

{% endblock %}