<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">
                    <input autocomplete="off" autofocus name="name" placeholder="Name" required type="text" style="width: 150px; height: 25px">
                    <select name="day" required style="height: 25px">
                        <option disabled selected>Day</option>
                        {% for i in range(1, 32) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <select name="month" required style="height: 25px">
                        <option disabled selected>Month</option>
                        {% for k in range(1, 13) %}
                            <option value="{{ k }}">{{ k }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for line in birthdays %}
                            <tr>
                                <th>{{ line["name"] }}</th>
                                <th>{{ line["day"] }} / {{ line["month"] }}</th>
                                <th>
                                    <form action="/delete" method="post">
                                        <input name="id" type="hidden" value="{{ line.id }}">
                                        <button type="submit">Delete</button>
                                    </form>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
